{% extends "core/base.html" %}
{% load static %}
{% load i18n_extra %}

{% block title %}{% t 'Über mich' 'About' %} - Caspar Sadenius{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/maplibre-gl@5/dist/maplibre-gl.css" />
<link rel="stylesheet" href="{% static 'about/css/about.css' %}" />
{% endblock %}

{% block content %}
<div id="about-page">
    <div id="about-map-wrap">
        <div id="about-map"></div>
        <div class="about-map-credit">&copy; OpenStreetMap &copy; CARTO</div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/maplibre-gl@5/dist/maplibre-gl.js"></script>
<script
    id="about-config"
    data-countries-url="{% static 'about/data/fi-de.geojson' %}"
    data-counter-label="{% t 'Station' 'Station' %}"
    data-prev-label="{% t 'Vorherige Station' 'Previous station' %}"
    data-next-label="{% t 'Nächste Station' 'Next station' %}"
></script>
{{ stations|json_script:"about-stations" }}
<script src="{% static 'about/js/about.js' %}"></script>
{% endblock %}
