SECRET_KEY=django-insecure-change-me-in-production
DEBUG=1
DB_NAME=travelsite
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
OSRM_API_URL=https://router.project-osrm.org
DISCORD_USER_ID=
ALLOWED_HOSTS=localhost,127.0.0.1
