{% extends "core/base.html" %}
{% load i18n_extra %}

{% block title %}{% t 'Home' 'Home' 'Etusivu' %} - Caspar Sadenius{% endblock %}

{% block content %}
<div class="page-container">
    <h1>{% t 'Willkommen' 'Welcome' 'Tervetuloa' %}</h1>
    <p>{% t 'Hallo, ich bin Caspar aus Hamburg und studiere aktuell IT-Systems Engineering im Bachelor am Hasso-Plattner-Institut in Potsdam. Diese Website ist noch work in progress.' "Hi, I'm Caspar from Hamburg, currently studying for a Bachelor's in IT-Systems Engineering at the Hasso-Plattner-Institute in Potsdam. This website is still work in progress." 'Hei, olen Caspar Hampurista ja opiskelen tällä hetkellä IT-Systems Engineeringia kandidaattitasolla Hasso-Plattner-Institutissa Potsdamissa. Tämä verkkosivusto on vielä työn alla.' %}</p>
</div>
{% endblock %}
